body {
	background: #244A53;
	font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

#header-div {
	background: url("https://i.imgur.com/SxrDVTn.jpg?2") left no-repeat;
	opacity: 1;
	position: relative;
	margin: 0 10%;
	max-width: 100%;
	height: 500px;
}

#header-img {
	height: 40px;
	width: 50px;
	position: absolute;
}

.nav-link {
	float: right;
	list-style-type: none;
	display: grid;
	grid-template-columns: 40px 40px 60px 100px;
	color: #fff;
	cursor: pointer;
}

#signup {
	background: #EC6474;
	border-radius: 8px;
	color: #fff;
	padding: 5px;	
}

#search-box {
	display: block;
	background: rgba(255, 255, 255, 0.4);
	width: 40%;
	height: auto;
	position: absolute;
	float: left;
	margin:  18% 27%;
}

.search-nav {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	color: white;
	font-family: "Segoe UI", monospace;
  	white-space: pre;
  	font-size: 13px;
  	margin-bottom: 0;
  	margin-left: -5%;
  	cursor: pointer;
}

.search-nav > li {
	padding-right: 5%;	
}

#search_bar {
	margin: 5px 10px 10px auto;
	display: inline-block;
	position: relative;
	padding-left: 20px;
	width: 98%;
}

#search_bar > input {
	font-size: 11px;
}

#search {
	 border: 1px solid #ffffff;
	 background: #ffffff; 
	 width: 90%;
	 padding: 5px;
}

.search_bttn {
	display: inline-block;
	position: absolute;
	margin-left: -10%;
	padding: 5px;
	background: #EC6474;
	color: #ffffff;
	border: 1px solid #ffffff;
	font-size: 11px;
	cursor: pointer;
}

.numbers_houses {
	display: flex;
	flex-direction: row;
	position: absolute;
	margin:  28% 28% 0 28%;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.second-line {
	font-weight: normal;
	font-size: 11px;
	margin-top: 0;
	display: block;
	padding: 0 1px;
	color: #ffffff;
}

.vl {
	display: inline-flex;
	border-left: 1px solid #ffffff;
	margin: 7% 20px;
	height: 35px;
}

#homes {
	background: #ffffff;
	border: 1px solid #ffffff;
	max-height: 100%;
	max-width: 100%;
	margin: -4% 10% -20% 10%;
	position: relative;
}

.heading_homes {
	text-align: center;
	font-size: 14px;
	margin-top: 5%;
}

#home_samples {
	display: flex;
	flex-direction: row;
	margin: 0 4% 0 4%;
	justify-content: center;
}

.home_samples > img {
	-webkit-box-shadow: 0px 1px 15px 6px rgba(165,191,206,0.74); 
box-shadow: 0px 1px 15px 6px rgba(165,191,206,0.74);
}

.figcap {
	font-weight: bold;
	position: relative;
	text-align: left;
	margin: -2% 0 0 0;
	border: 2px solid #fff;
	width: 94%;
	height: 100px;
	background: #fff;
	padding-left: 5%;
}

.address {
	font-weight: normal;
	text-align: center;
	padding: 0;
	display: block;
	position: absolute;
	font-size: 13px;
}


@media (max-width: 768px) {
	#search-box {
		background: rgba(255, 255, 255, 0.4);
		min-width: 80%;
		height: auto;
		margin: 60% 10% auto 10%;
		font-size: 14px;
	}

.search-nav {
		font-size: 12px;
		margin-left: -7%;
	}

#search_bar {
		margin: 5px 10px 10px auto;
		display: inline-block;
		position: relative;
		padding-left: 20px;
		width: 80%;
	}


.numbers_houses {
		position: absolute;
		font-size: 14px;
		margin:  98% 5% 0 5%;
	}

.second-line {
		font-size: 10px;
		text-align: center;
		margin-right: 1%;
		margin-left: 1%;
	}

.vl {
		display: inline-flex;
		border-left: 1px solid #ffffff;
		margin: 6% 10px;
		height: 45px;
	}

#home_samples {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;
		justify-content: center;
	}

.figcap {
		width: 93.5%;
	}

}

@media (max-width: 992px) and (min-width: 768px) {
	#search-box {
		background: rgba(255, 255, 255, 0.4);
		min-width: 50%;
		height: auto;
		margin: 30% 25% auto 25%;
		font-size: 14px;
	}

.search-nav {
		font-size: 13px;
		margin-left: -4%;
	}

#search_bar {
		margin: 5px 30px 10px auto;
		display: inline-block;
		position: relative;
		padding-left: 20px;
		width: 90%;
	}


.numbers_houses {
		position: absolute;
		font-size: 14px;
		margin:  45% 25% 0 25%;
	}

.second-line {
		font-size: 10px;
		text-align: center;
		margin-right: 1%;
		margin-left: 1%;
	}

.vl {
		display: inline-flex;
		border-left: 1px solid #ffffff;
		margin: 5% 22px;
		height: 40px;
	}

#home_samples {
		display: flex;
		flex-direction: row;
		margin: 0 -5% auto -5%;
		justify-content: center;
	}

.sample-img {
		width: 150px;
		height: 120px;
	}

.figcap {
		width: 92%;
	}

}

@media (max-width: 1200px) and (min-width: 992px) {
	#search-box {
		background: rgba(255, 255, 255, 0.4);
		min-width: 50%;
		height: auto;
		margin: 25% 25% auto 25%;
		font-size: 14px;
	}

.search-nav {
		font-size: 13px;
		margin-left: -4%;
	}

#search_bar {
		margin: 5px 30px 10px auto;
		display: inline-block;
		position: relative;
		padding-left: 20px;
		width: 90%;
	}


.numbers_houses {
		position: absolute;
		font-size: 14px;
		margin:  40% 25% 0 25%;
	}

.second-line {
		font-size: 10px;
		text-align: center;
		margin-right: 1%;
		margin-left: 1%;
	}

.vl {
		display: inline-flex;
		border-left: 1px solid #ffffff;
		margin: 5% 22px;
		height: 40px;
	}

#home_samples {
		display: flex;
		flex-direction: row;
		margin: 0;
		justify-content: center;
	}

.sample-img {
		width: 180px;
		height: 150px;
	}

.figcap {
		width: 93%;
	}

}
